{{ template "partials/head.gohtml" . }}
<body>
  <h2>Managing {{ .Data.Name }} sounds</h2>

  <table>
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Commands</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
  {{ range $s := .Data.Sounds }}
    <tr>
	  <td>{{ $s.Name }}</td>
	  <td>{{ $s.Commands }}</td>
	  <td><a href="{{ .Context.SiteURL }}/sound/{{ $s.ID }}" class="button">
	    Edit
	  </a></td>
	</tr>
  {{ end }}
  </tbody>
  </table>

  {{ template "partials/footer.gohtml" . }}
