<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- Metadata -->
  <meta name="author" content="Matthieu Harlé (@Shywim#3488)">
  <meta name="title" content="!airhorn">
  <meta name="url" content="{{ .SiteURL }}">
  <meta name="description" content="A Discord bot with live statistics that makes airhorn sounds BEEP BOOP.">
  <meta name="site_name" content="Airhorn">
  <meta name="locale" content="en_US">

  <!-- OpenGraph -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .SiteURL }}" />
  <meta property="og:title" content="!airhorn" />
  <meta property="og:description" content="A Discord bot with live statistics that makes airhorn sounds BEEP BOOP." />
  <meta property="og:image" content="{{ .SiteURL }}/assets/og-facebook.png" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@shywim" />
  <meta name="twitter:title" content="!airhorn" />
  <meta name="twitter:description" content="BEEP BOOP. Airhorn bot makes airhorn noises in Discord. BEEP BOOP." />
  <meta name="twitter:image" content="{{ .SiteURL }}/assets/og-twitter.png" />

  <title>!airhorn</title>

  <link rel="icon" href="{{ .SiteURL }}/assets/favicon.png" />
  <link rel="stylesheet" href="{{ .SiteURL }}/css/style.css">
</head>
