
.footer {
  display: flex;
  width: 100%;
  padding: 0;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  opacity: 0.98;
  padding: 24px 20px;
  font-size: 18px;
  line-height: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 0 0;
  z-index: 2;
}

.airhorn-count, .stats-toggler {
  display: flex;
}

.stats-toggler {
  cursor: pointer;
}

.stats-panel {
  position: absolute;
  padding: 10px 75px 10px 8px;
  background: #fff none repeat scroll 0 0;
  opacity: 0.98;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: 1;
}

.stats-panel .stats-row {
  display: flex;
  margin-bottom: 5px;
}

.stats-row .label-value {
  margin-left: 8px;
}

.stats-row .label-value .value {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: hsl(7, 29%, 29%);
}

.stats-row .label-value .label {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: hsl(3, 100%, 67%);
  text-transform: uppercase;
}

.airhorn-count .stats-toggler .airhorn-count-content {
  align-items: center;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  width: 170px;
}

.airhorn-count-content .count-text {
  margin-left: 10px;
}

.airhorn-count-content .count-text .count {
  display: flex;
  justify-content: center;
  color: #7a7a7a;
  transition: all 0.2s ease 0s;
}

.airhorn-count-content .count-text .count.count-big {
  font-size: 1.5rem;
}

.airhorn-count-content .count-text .and-counting {
  color: hsl(3, 100%, 67%);
}

.footer .airhorn-count .stats-toggler .stats-btn {
  z-index: 3;
}

.stats-btn img:first-child {
  position: absolute;
}

.stats-btn img:nth-child(2) {
  margin-left: 1px;
  margin-top: 1px;
}

.footer .main-text, .footer .main-text a {
  text-align: center;
  color: hsl(7, 29%, 29%);
  align-self: center;
  max-width: calc(-550px + 100%);
}

.footer-content .main-text a {
  text-decoration: underline;
}

.footer .main-text .normal-text, .footer a .normal-text {
  opacity: 0.6;
}

.footer .main-text .arrow, .footer a .arrow {
  text-decoration: none;
}

.footer .social {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 228px;
}

.footer .social > a {
  cursor: pointer;
  padding-left: 10px;
}

@media (max-width: 999px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer .airhorn-count {
      margin-bottom: 28px;
  }

  .stats-panel {
      left: calc(50% - 113px);
  }

  .footer .main-text {
      max-width: 100%;
  }

  .social {
      margin-top: 28px;
      justify-content: center;
  }
}

@media (max-width: 690px) {
  .social {
      display: none;
  }
}

/* ANIMATIONS */
@keyframes crossfade-one {
  from {
      transform: scaleY(0) translate3d(0px, 0px, 0px);
      visibility: hidden;
  }
  to {
      transform: scaleY(1) translate3d(0px, -100%, 0px);
      visibility: visible;
  }
}

@keyframes crossfade-one-reverse {
  from {
      transform: scaleY(1) translate3d(0px, -100%, 0px);
      visibility: visible;
  }
  to {
      transform: scaleY(0) translate3d(0px, 0px, 0px);
      visibility: hidden;
  }
}

@keyframes crossfade-two {
  from {
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
  }
  to {
      transform: translate3d(0px, -255px, 0px);
      opacity: 0;
  }
}

@keyframes crossfade-two-reverse {
  from {
      transform: translate3d(0px, -255px, 0px);
      opacity: 0;
  }
  to {
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
  }
}

@keyframes crossfade-three {
  from {
      transform: translate3d(0px, 0px, 0px);
  }

  to {
      transform: translate3d(0px, -255px, 0px);
  }
}

@keyframes crossfade-three-reverse {
  from {
      transform: translate3d(0px, -255px, 0px);
  }

  to {
      transform: translate3d(0px, 0px, 0px);
  }
}

.crossfade {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.5, -0.25, 0.3, 1.25);
  animation-fill-mode: forwards;
}

.crossfade.one {
  animation-duration: 0.2s;
  animation-name: crossfade-one;
}

.crossfade.one-reverse {
  animation-duration: 0.2s;
  animation-name: crossfade-one-reverse;
}

.crossfade.two {
  animation-name: crossfade-two;
}

.crossfade.two-reverse {
  animation-name: crossfade-two-reverse;
}

.crossfade.three {
  animation-name: crossfade-three;
}

.crossfade.three-reverse {
  animation-name: crossfade-three-reverse;
}
