@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

/* VARS */
:root {
    --color-primary: #5d5d5a;
    --color-accent: #ffa45c;
    --color-accent2: #ffcdab;
    --color-accent3: #fff4e3;
}
/* /VARS/ */

/* UTILS */
.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.little-text {
    font-size: 0.65em;
}

.btn {
    display: inline-block;
    padding: 12px 16px;
    cursor: pointer;
}

.btn-primary {
    background: var(--color-accent);
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

hr {
    border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}

.v-center {
    align-self: center;
}
/* /UTILS/ */

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: #fff;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header {
	display: flex;
	flex-direction: row;
}

.header .title {
	font-size: 1.2 rem;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding: 32px;
}

.sidebar-left {
    margin-right: 32px;
    width: 400px;
}

.sound-list-item {
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 350px;
}

h3.sound-name {
    margin: 0;
}

.sound-commands {
    
}

.sound-edit {
    margin-right: 8px;
}

.sound-edit .btn-primary {
    background: var(--color-accent2);
    transition: background 0.3s ease-in;
}

.sound-edit .btn-primary:hover {
    background: var(--color-accent);
}

/* SERVER CARD */
.guild-card {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background: var(--color-primary);
    color: white;
    border-radius: 16px;
    margin-bottom: 16px;
}

.guild-card h2 {
    margin: 4px 0 0 0;
}

.guild-card .guild-logo {
    margin-right: 16px;
}

.guild-sounds {
    margin-left: auto;
}
/* /SERVER CARD/ */

/* GUILD LIST */
.guild-list .guild-logo {
    width: 60px;
    height: 60px;
}

.guild-list .guild-card {
    background: var(--color-accent3);
    color: black;
    cursor: pointer;
}

.guild-list .guild-card:hover {
    background: var(--color-primary);
    color: white;
}
/* /GUILD LIST/ */

.table,
.section {
    background: none;
}

.back-home {
    color: hsl(3, 100%, 67%);
}

.section.main-section {
    flex: 1;
}

.section.manage-section {
    flex: 2;
}

.field {
	margin-bottom: 1rem;
}

.field > label {
	display: block;
	font-weight: bold;
}

.field > .hint {
	font-size: 0.8rem;
	margin: 0;
}

/*.guild-list {
    width: 100%;
}

.guild-list > thead > tr {
&:first-child {
     width: 100px;
 }

&:nth-child(3),
&:nth-child(4) {
     width: 160px;
 }
}

.guild-list > tbody > tr {
    height: 100px;

&.selected:hover {
     background: none;
 }
}*/

.relative-wrapper {
    position: relative;
}

.content {
    z-index: 1;
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    align-items: center;
    transition: margin-top 0.5s ease 0s;
}

img.guild-logo {
    border-radius: 50%;
	width: 80px;
	height: 80px;
}

.heading {
    text-align: center;
}

.title {
    color: #121212;
    font-size: 64px;
    line-height: 68px;
    margin: 0;
}

.message {
    margin-top: 0;
    color: hsl(7, 29%, 29%);
    font-size: 15px;
    line-height: 24px;
    opacity: 0.6;
}

.video-airhorn {
    padding: 10px;
    width: 681px;
    max-width: 90%;
    outline: medium none currentcolor;
    cursor: pointer;
    height: 248px;
}

.add-btn {
    background: #fff none repeat scroll 0 0;
    border: 2px dashed hsl(7, 29%, 29%);
    border-radius: 30px;
    width: 240px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: hsl(3, 100%, 67%);
    line-height: 50px;
    text-transform: uppercase;
    transition: all 200ms ease-out;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.add-btn:hover {
    background: hsl(7, 29%, 29%);
    border: 2px solid hsl(7, 29%, 29%);
    color: #fff;
}

@media (min-width: 1000px) {
    .main-section {
        margin-top: 100px;
    }
}

@media (max-width: 999px) {
    .video-airhorn {
        height: 160px;
    }

	.main-section {
		margin-top: 35px;
		margin-bottom: 35px;
	}

}

@media (max-width: 690px) {
    .video-airhorn {
        max-width: 90%;
    }
}

